name: Build & Push Multi-App Docker Images (Bun + Turbo)

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write


    strategy:
      fail-fast: false
      matrix:
        app:
          - hdas

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.app }} image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/${{ matrix.app }}/Dockerfile
          push: true
          build-args: |
            APP_NAME=${{ matrix.app }}
          tags: |
            ${{ env.REGISTRY }}/conner120/ushio-${{ matrix.app }}:latest
            ${{ env.REGISTRY }}/conner120/ushio-${{ matrix.app }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
